.flip-clock-wrapper *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden}.flip-clock-wrapper a{cursor:pointer;text-decoration:none;color:#ccc}.flip-clock-wrapper a:hover{color:#fff}.flip-clock-wrapper ul{list-style:none}.flip-clock-wrapper.clearfix:before,.flip-clock-wrapper.clearfix:after{content:" ";display:table}.flip-clock-wrapper.clearfix:after{clear:both}.flip-clock-wrapper.clearfix{*zoom: 1}.flip-clock-wrapper{font:11px "Helvetica Neue",Helvetica,sans-serif;-webkit-user-select:none}.flip-clock-meridium{background:none!important;box-shadow:0 0 0!important;font-size:36px!important}.flip-clock-meridium a{color:#313333}.flip-clock-wrapper{text-align:center;position:relative;width:100%}.flip-clock-wrapper:before,.flip-clock-wrapper:after{content:" ";display:table}.flip-clock-wrapper:after{clear:both}.flip-clock-wrapper ul{position:relative;float:left;margin:5px;width:30px;height:45px;font-size:40px;font-weight:bold;line-height:87px;border-radius:6px;background:#000}.flip-clock-wrapper ul li{z-index:1;position:absolute;left:0;top:0;width:100%;height:100%;line-height:87px;text-decoration:none!important}.flip-clock-wrapper ul li:first-child{z-index:2}.flip-clock-wrapper ul li a{display:block;height:100%;-webkit-perspective:200px;-moz-perspective:200px;perspective:200px;margin:0!important;overflow:visible!important;cursor:default!important}.flip-clock-wrapper ul li a div{z-index:1;position:absolute;left:0;width:100%;height:50%;font-size:30px;overflow:hidden;outline:1px solid transparent}.flip-clock-wrapper ul li a div .shadow{position:absolute;width:100%;height:100%;z-index:2}.flip-clock-wrapper ul li a div.up{-webkit-transform-origin:50% 100%;-moz-transform-origin:50% 100%;-ms-transform-origin:50% 100%;-o-transform-origin:50% 100%;transform-origin:50% 100%;top:0}.flip-clock-wrapper ul li a div.up:after{content:"";position:absolute;top:44px;left:0;z-index:5;width:100%;height:3px;background-color:#000;background-color:rgba(0,0,0,.4)}.flip-clock-wrapper ul li a div.down{-webkit-transform-origin:50% 0;-moz-transform-origin:50% 0;-ms-transform-origin:50% 0;-o-transform-origin:50% 0;transform-origin:50% 0;bottom:0;border-bottom-left-radius:6px;border-bottom-right-radius:6px}.flip-clock-wrapper ul li a div div.inn{position:absolute;left:0;z-index:1;width:100%;height:200%;color:#ccc;text-shadow:0 1px 2px #000;text-align:center;background-color:#333;border-radius:6px;font-size:35px;display:flex;justify-content:center;align-items:center}.flip-clock-wrapper ul li a div.up div.inn{top:0}.flip-clock-wrapper ul li a div.down div.inn{bottom:0}.flip-clock-wrapper ul.play li.flip-clock-before{z-index:3}.flip-clock-wrapper .flip{box-shadow:0 2px 5px rgba(0,0,0,.7)}.flip-clock-wrapper ul.play li.flip-clock-active{-webkit-animation:asd .5s .5s linear both;-moz-animation:asd .5s .5s linear both;animation:asd .5s .5s linear both;z-index:5}.flip-clock-divider{float:left;display:inline-block;position:relative;width:20px;height:60px}.flip-clock-divider:first-child{width:0}.flip-clock-dot{display:block;background:#323434;width:7px;height:7px;position:absolute;border-radius:50%;box-shadow:0 0 5px rgba(0,0,0,.5);left:5px}.flip-clock-divider .flip-clock-label{position:absolute;top:-1.5em;right:-74px;color:#000;text-shadow:none}.flip-clock-label{display:none!important}.flip-clock-divider.minutes .flip-clock-label{right:-74px}.flip-clock-divider.seconds .flip-clock-label{right:-76px}.flip-clock-dot.top{top:19px}.flip-clock-dot.bottom{bottom:19px}@-webkit-keyframes asd {
 0% {
   z-index: 2; }

 20% {
   z-index: 4; }

 100% {
   z-index: 4; } }@-moz-keyframes asd {
 0% {
   z-index: 2; }

 20% {
   z-index: 4; }

 100% {
   z-index: 4; } }@-o-keyframes asd {
 0% {
   z-index: 2; }

 20% {
   z-index: 4; }

 100% {
   z-index: 4; } }@keyframes asd {
 0% {
   z-index: 2; }

 20% {
   z-index: 4; }

 100% {
   z-index: 4; } }.flip-clock-wrapper ul.play li.flip-clock-active .down{z-index:2;-webkit-animation:turn .5s .5s linear both;-moz-animation:turn .5s .5s linear both;animation:turn .5s .5s linear both}@-webkit-keyframes turn {
 0% {
   -webkit-transform: rotateX(90deg); }

 100% {
   -webkit-transform: rotateX(0deg); } }@-moz-keyframes turn {
 0% {
   -moz-transform: rotateX(90deg); }

 100% {
   -moz-transform: rotateX(0deg); } }@-o-keyframes turn {
 0% {
   -o-transform: rotateX(90deg); }

 100% {
   -o-transform: rotateX(0deg); } }@keyframes turn {
 0% {
   transform: rotateX(90deg); }

 100% {
   transform: rotateX(0deg); } }.flip-clock-wrapper ul.play li.flip-clock-before .up{z-index:2;-webkit-animation:turn2 .5s linear both;-moz-animation:turn2 .5s linear both;animation:turn2 .5s linear both}@-webkit-keyframes turn2 {
 0% {
   -webkit-transform: rotateX(0deg); }

 100% {
   -webkit-transform: rotateX(-90deg); } }@-moz-keyframes turn2 {
 0% {
   -moz-transform: rotateX(0deg); }

 100% {
   -moz-transform: rotateX(-90deg); } }@-o-keyframes turn2 {
 0% {
   -o-transform: rotateX(0deg); }

 100% {
   -o-transform: rotateX(-90deg); } }@keyframes turn2 {
 0% {
   transform: rotateX(0deg); }

 100% {
   transform: rotateX(-90deg); } }.flip-clock-wrapper ul li.flip-clock-active{z-index:3}.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow{background:-moz-linear-gradient(top,rgba(0,0,0,.1) 0%,black 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,.1)),color-stop(100%,black));background:linear , top , rgba(0,0,0,.1) 0% , #000 100%;background:-o-linear-gradient(top,rgba(0,0,0,.1) 0%,black 100%);background:-ms-linear-gradient(top,rgba(0,0,0,.1) 0%,black 100%);background:linear , to bottom , rgba(0,0,0,.1) 0% , #000 100%;-webkit-animation:show .5s linear both;-moz-animation:show .5s linear both;animation:show .5s linear both}.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow{background:-moz-linear-gradient(top,rgba(0,0,0,.1) 0%,black 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,.1)),color-stop(100%,black));background:linear , top , rgba(0,0,0,.1) 0% , #000 100%;background:-o-linear-gradient(top,rgba(0,0,0,.1) 0%,black 100%);background:-ms-linear-gradient(top,rgba(0,0,0,.1) 0%,black 100%);background:linear , to bottom , rgba(0,0,0,.1) 0% , #000 100%;-webkit-animation:hide .5s .3s linear both;-moz-animation:hide .5s .3s linear both;animation:hide .5s .3s linear both}.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow{background:-moz-linear-gradient(top,black 0%,rgba(0,0,0,.1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,black),color-stop(100%,rgba(0,0,0,.1)));background:linear , top , #000 0% , rgba(0,0,0,.1) 100%;background:-o-linear-gradient(top,black 0%,rgba(0,0,0,.1) 100%);background:-ms-linear-gradient(top,black 0%,rgba(0,0,0,.1) 100%);background:linear , to bottom , #000 0% , rgba(0,0,0,.1) 100%;-webkit-animation:show .5s linear both;-moz-animation:show .5s linear both;animation:show .5s linear both}.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow{background:-moz-linear-gradient(top,black 0%,rgba(0,0,0,.1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,black),color-stop(100%,rgba(0,0,0,.1)));background:linear , top , #000 0% , rgba(0,0,0,.1) 100%;background:-o-linear-gradient(top,black 0%,rgba(0,0,0,.1) 100%);background:-ms-linear-gradient(top,black 0%,rgba(0,0,0,.1) 100%);background:linear , to bottom , #000 0% , rgba(0,0,0,.1) 100%;-webkit-animation:hide .5s .3s linear both;-moz-animation:hide .5s .3s linear both;animation:hide .5s .2s linear both}@-webkit-keyframes show {
 0% {
   opacity: 0; }

 100% {
   opacity: 1; } }@-moz-keyframes show {
 0% {
   opacity: 0; }

 100% {
   opacity: 1; } }@-o-keyframes show {
 0% {
   opacity: 0; }

 100% {
   opacity: 1; } }@keyframes show {
 0% {
   opacity: 0; }

 100% {
   opacity: 1; } }@-webkit-keyframes hide {
 0% {
   opacity: 1; }

 100% {
   opacity: 0; } }@-moz-keyframes hide {
 0% {
   opacity: 1; }

 100% {
   opacity: 0; } }@-o-keyframes hide {
 0% {
   opacity: 1; }

 100% {
   opacity: 0; } }@keyframes hide {
 0% {
   opacity: 1; }

 100% {
   opacity: 0; } }.beltbottomwrap{position:fixed;bottom:0;width:100%;z-index:9999}.beltbottom{border-top:2px solid #fe7061;font-size:10px;background:#ff3019;background:-moz-linear-gradient(top,#ff3019 0%,#dd0b04 50%,#ff3019 100%);background:-webkit-linear-gradient(top,#ff3019 0%,#dd0b04 50%,#ff3019 100%);background:linear-gradient(to bottom,#ff3019 0%,#dd0b04 50%,#ff3019 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#ff3019',GradientType=0 );color:#000224;display:block;padding:10px 20px;position:relative;bottom:0;width:100%;cursor:pointer!important}.beltbottomwrap .wrap{width:1070px;margin:0 auto;max-width:100%}.beltbottom p{font-size:1.6em;line-height:1.3;text-transform:uppercase;font-family:Oswald;color:#fff;text-shadow:2px 2px 2px rgba(0,0,0,.4)}.closebottom{color:#000224;display:flex;justify-content:center;align-items:center;font-size:35px;position:absolute;right:20px;top:10px;z-index:99;cursor:pointer;padding:10px}.beltbottom div:nth-of-type(1) {display:flex;justify-content:space-between}.beltbottom .wrap div:nth-of-type(1) div:nth-of-type(1) {display:flex;align-items:center;justify-content:center}.beltbottom .wrap > div:nth-of-type(1) div:nth-of-type(1) p:nth-of-type(1){text-decoration:line-through;color:#d7d7d7;font-size:2.5em;margin-right:5px}.beltbottom  .wrap > div:nth-of-type(1) div:nth-of-type(1) p:nth-of-type(2){color:#fff;font-size:5em;font-weight:600;margin-right:35px}.beltbottom  .wrap > div:nth-of-type(1) div:nth-of-type(2) {display:flex;justify-content:center;align-items:center}.beltbottom  .wrap > div:nth-of-type(1) div:nth-of-type(2) p {color:#f6e800}.beltbottom  .wrap > div:nth-of-type(1) div:nth-of-type(2) p:nth-of-type(1){font-size:2em}.beltbottom  .wrap > div:nth-of-type(1) div:nth-of-type(2) p:nth-of-type(2){font-size:6em}.beltbottom  .wrap > div:nth-of-type(1) div:nth-of-type(2) p:nth-of-type(3){font-size:4em}.beltbottom  .wrap > div:nth-of-type(1) div:nth-of-type(2) p:nth-of-type(3) span{font-size:.5em;display:block}.beltbottom  .wrap > div:nth-of-type(1) div:nth-of-type(2) p:nth-of-type(4){font-size:8em;transform:rotate(4deg);margin-left:5px}.beltbottom  .wrap > div:nth-of-type(2)  p{margin-bottom:20px}#timer{font-size:1.9em;color:#f6e800;font-weight:600}.beltbottom .wrap{display:flex;justify-content:center;align-items:center}.beltbottom .wrap div:nth-of-type(3) p:nth-of-type(1)  {border-radius:32px;background:#00f;padding:10px 30px;font-weight:600;font-size:20px;color:#f6e800;font-style:italic;background:#1e5799;background:-moz-linear-gradient(top,#1e5799 0%,#2989d8 68%);background:-webkit-linear-gradient(top,#1e5799 0%,#2989d8 68%);background:linear-gradient(to bottom,#1e5799 0%,#2989d8 68%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2989d8',GradientType=0 )}.clockm{display:none!important}@media (max-width:1170px){.beltbottom{font-size:8px}.beltbottom .wrap{flex-direction:row;text-align:center}.clockm{display:block!important}.clock{display:none!important}.closebottom{color:#fff;font-size:26px;right:10px;top:0;padding:3px}}@media (max-width:768px){.clockdesk{display:none!important}.closebottom{font-size:21px;right:10px;top:-3px}.beltbottom{font-size:6px;padding:10px 5px}.beltbottom .wrap > div:nth-of-type(2){padding-top:20px}.beltbottom .wrap > div:nth-of-type(2) p{font-size:1.8em}.beltbottom .wrap div:nth-of-type(3) p:nth-of-type(1) {font-size:16px}}@media (max-width:480px){.flip-clock-wrapper ul li a div div.inn{font-size:21px}.flip-clock-wrapper ul{width:19px;height:25px}.flip-clock-wrapper ul li a div div.inn{font-size:15px}.flip-clock-divider.minutes .flip-clock-label{right:-54px}.flip-clock-divider.seconds .flip-clock-label{right:-54px}.flip-clock-divider .flip-clock-label{right:-54px}.flip-clock-divider{height:50px}.flip-clock-dot.top{top:12px}.flip-clock-dot.bottom{bottom:20px}.beltbottom .wrap div:nth-of-type(3) p:nth-of-type(1) {padding:10px 20px;font-size:14px}.flip-clock-dot{width:5px;height:5px}.flip-clock-dot.bottom{bottom:23px}.flip-clock-divider{width:11px}.beltbottom .wrap{padding:0 5px}.beltbottom .wrap > div:nth-of-type(1) div:nth-of-type(2) p:nth-of-type(1) {font-size:1.65em}.beltbottom .wrap > div:nth-of-type(1) div:nth-of-type(2) p:nth-of-type(2) {font-size:4.2em}.beltbottom .wrap > div:nth-of-type(1) div:nth-of-type(2) p:nth-of-type(3) {font-size:2.8em}.beltbottom .wrap > div:nth-of-type(1) div:nth-of-type(2) p:nth-of-type(4) {font-size:5em}}